.venv/
venv/
env/
.uv_cache/
.workspace_uv_cache/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.
**/*.egg-info

.pytest_cache/
.ruff_cache/
.mypy_cache/
.ty_cache/
.cache/
.coverage
htmlcov/
.marimo/
**/__marimo__/
